.*swp
*.la
*.lo
*.o
*.tar.gz
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
Makefile
Makefile.in
TAGS
dnstable/libdnstable.pc
src/dnstable_convert
src/dnstable_dump
