.*swp
*.gcda
*.gcno
*.la
*.lo
*.o
*.tar.gz
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/*.coverage
/coverage-html
/libtool
/stamp-h1
test-suite.log
Makefile
Makefile.in
TAGS
dnstable/libdnstable.pc
src/dnstable_dump
src/dnstable_lookup
src/dnstable_merge
tests/test-bitmaps
dnstable-*coverage*
tests/test-dnstable_merge
