Source: dnstable
Section: libs
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends:
 asciidoc,
 debhelper (>= 9~),
 dh-autoreconf (>= 5~),
 dpkg-dev (>= 1.16.0~),
 lcov,
 libmtbl-dev (>= 1.5.0),
 libwdns-dev (>= 0.11.0),
 libyajl-dev (>= 1.0.8),
 mtbl-bin,
 pkg-config,
 xmlto
Standards-Version: 3.9.8

Package: dnstable-bin
Section: utils
Architecture: any
Depends: mtbl-bin (>= 1.5.0), ${misc:Depends}, ${shlibs:Depends}
Description: passive DNS encoding format library (utilities)
 dnstable implements an encoding format for passive DNS data. It consists of a
 C library, libdnstable, and command line utilities for creating, querying,
 and merging dnstable data files.
 .
 It stores key-value records in Sorted String Table (SSTable) files and
 provides high-level interfaces for querying or iterating over the stored
 records.  dnstable encodes individual records using a format tailored for
 efficiently storing passive DNS data and can quickly perform both "forward"
 and "inverse" searches.
 .
 dnstable relies on libmtbl for the actual storage of passive DNS records.
 libmtbl provides fast lookups of partial keys, so the precise encoding of
 dnstable records is optimized to take advantage of this property.
 .
 This package contains command line utilities for libdnstable.

Package: libdnstable-dev
Section: libdevel
Architecture: any
Depends: libdnstable0 (= ${binary:Version}), libmtbl-dev, ${misc:Depends}
Multi-Arch: same
Description: passive DNS encoding format library (development files)
 dnstable implements an encoding format for passive DNS data. It consists of a
 C library, libdnstable, and command line utilities for creating, querying,
 and merging dnstable data files.
 .
 It stores key-value records in Sorted String Table (SSTable) files and
 provides high-level interfaces for querying or iterating over the stored
 records.  dnstable encodes individual records using a format tailored for
 efficiently storing passive DNS data and can quickly perform both "forward"
 and "inverse" searches.
 .
 dnstable relies on libmtbl for the actual storage of passive DNS records.
 libmtbl provides fast lookups of partial keys, so the precise encoding of
 dnstable records is optimized to take advantage of this property.
 .
 This package contains the static library, header file, and documentation
 for libdnstable.

Package: libdnstable0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: passive DNS encoding format library
 dnstable implements an encoding format for passive DNS data. It consists of a
 C library, libdnstable, and command line utilities for creating, querying,
 and merging dnstable data files.
 .
 It stores key-value records in Sorted String Table (SSTable) files and
 provides high-level interfaces for querying or iterating over the stored
 records.  dnstable encodes individual records using a format tailored for
 efficiently storing passive DNS data and can quickly perform both "forward"
 and "inverse" searches.
 .
 dnstable relies on libmtbl for the actual storage of passive DNS records.
 libmtbl provides fast lookups of partial keys, so the precise encoding of
 dnstable records is optimized to take advantage of this property.
 .
 This package contains the shared library for libdnstable.

Package: libdnstable0-dbg
Section: debug
Priority: optional
Architecture: any
Depends: libdnstable0 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: passive DNS encoding format library (debug symbols)
 dnstable implements an encoding format for passive DNS data. It consists of a
 C library, libdnstable, and command line utilities for creating, querying,
 and merging dnstable data files.
 .
 It stores key-value records in Sorted String Table (SSTable) files and
 provides high-level interfaces for querying or iterating over the stored
 records.  dnstable encodes individual records using a format tailored for
 efficiently storing passive DNS data and can quickly perform both "forward"
 and "inverse" searches.
 .
 dnstable relies on libmtbl for the actual storage of passive DNS records.
 libmtbl provides fast lookups of partial keys, so the precise encoding of
 dnstable records is optimized to take advantage of this property.
 .
 This package contains detached debugging symbols for libdnstable.
